name: Backend Pipline

on:
    push:
        branches: 
            - main

jobs:
    Unit-Test:
        runs-on: ubuntu-latest
        steps:
            - run: node -v

    # Build And Push

    # Deployment